/*
CREATED BY DARIO PASSARIELLO (c)2020





*/

html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
	z-index:1;
	outline: none;
	outline-style: none;
	vertical-align: top;
	text-align: left;
	text-overflow: ellipsis;
	font-size:1em;
	font-family: Helvetica, Arial, sans-serif;
	color:#000;
	border: solid black;
	border-width:0 2px 2px 2px;
}

body::after {
	content: "";
	background-image: linear-gradient(to bottom top, transparent, rgba(0,0,0,.6) );
	background-position:center center;
	background-repeat:no-repeat;
	position: fixed;
	min-width:100%;
	min-height:100%;
	z-index: -1;   
}

h1,h2,h3,h4,h5,h6{
	line-height:.5em;
	height:.5em;
	font-size:1em;
	font-weight:50;
}

a{
	text-decoration: none;
}

hr{
	width:100%;
	height:5px;
	background-color:#888;
	margin:5px 0;
	border-top:1px solid #555;
	border-bottom:1px solid #bbb;
	border-radius:2px;
	opacity:.3;
}

iframe{
	display:none;
}

ul {
  list-style-type: none;
}


