
article.contact {
	display:table;
	position:relative;
}

article.contact figure{
	width:230px;
	display:table-cell;
	position:relative;
}

article.contact figure img{
	position:absolute;
	left:-20px;
	z-index:1;
}

article.contact section{
	display:table-cell;
	position:relative;
}

