

.about{
	padding:0 0 50px 0;
}

.about div:not(:first-child){
	margin-top:40px;
}

.about div ul{
	padding:0 20px;
}

.about div ul li{
	padding:10px 0;
	font-size:.9em;
	color:rgba(0,0,0,.6);
	line-height:1.2em;
	display:table;
}

.about div ul li span{
	font-weight:900;
	font-size:1.1em;
	color:rgba(0,0,0,.7);
}

